* {
  margin: 0;
}

main {
  width: 90%;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
}

.anime {
  display: flex;
}

.anime div {
  margin-left: 10px;
}

p {
  text-align: justify;
}