#Titulo{
    color: blue;
    background-color: red;
}
#SegundoParagrafo{
    color: red;
    background-color: blue;
}
#TerceiroParagrafo{
    color: green;
    background-color: yellow;
}